1thead, 1tbody
{
	display: block;
}

tbody
{
	height: 250px;
	overflow-y: auto;
	overflow-x: auto;
}

1th
{
	width: 160px;
}

1td
{
	width: 150px;
}

table, td, th
{
	font-size: 14px;
	border: 1px solid #ddd;
	border-collapse: collapse;
	1padding-top: 10px;
	1padding-bottom: 10px;
}

th
{
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ddd;
	background-color: #d0d0d0;
}

tr:hover
{
}

tr:nth-child(even)
{
	background-color: #f1f1f1;
}

.table-arrow
{
	padding-left: 10px;
}




.accordion
{
	background-color: #d0d0d0;
	font-size: 14px;
	font-weight: bold;
}

.accordion-arrow
{
	float: right;
	padding-right: 10px;
}

.accordion-arrow:after
{
	content: '+';
}

#opena.accordion-arrow:after
{
	content: '-';
}

.accordion-panel
{	
	border-bottom: 1px solid #ddd;  
	background-color: #f1f1f1;
	max-height: 0;
	overflow: hidden;
	transition: max-height .50s;
	padding: 0 0 0 1em;
}

#open.accordion-panel
{
	max-height: 10em;    
}




.tab
{
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	overflow: hidden;
}

.tab-panel
{
	padding: 10px;
	border: 1px solid #ccc;
}

.tab-header
{
	border: 1px solid #ccc;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: bold;
}

.tab div:hover
{
	background-color: #ddd;
}

div#selected.tab-header
{
	background-color: #ccc;
}


button:after
{
	font-family: "Font Awesome 5 Free"; 
	1font-weight: 100;
	content: "\f5b8";
	
}
